.footer {
  width: 100%;
  background: $color-background-bar;
  border-top: solid 1px $color-divider;

  .footer--content {
    max-width: $width-content;
    margin: 0 auto;
    padding: 12px 48px;
    text-align: center;
  }
}
