.header {
  position: relative;
  width: 100%;
  background: $color-background-bar;
  box-shadow: 0 1px 1px 1px $color-shadow;
  z-index: 1;

  .header--content {
    max-width: $width-content;
    margin: 0 auto;
    padding: 24px 48px;
  }
}
